@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&display=swap');
/* global area - start
==================================================================================================== */
:root{
  --primary-color:#1271b3;
  --secondary-color:#33aadc;
  --white-color:#ffffff;
  --black-color: #000000;
  --footer-color:#37383a;
  --copyright-color:#1b1b1b;
  --footer-content-color:#c7c7c8;
}

.home-slider-button{	
    display: inline-block;
    padding:10px 28px;
    max-width: 100%;
    border-color: var(--white-color);
    color: var(--white-color);
    border: 2px solid var(--white-color);
    border-radius: 0px;
}

.home-slider-button:hover{
  background-color: var(--white-color);
  color: var(--primary-color) !important;
}

.top-bar-hidden{
  display: none !important;
}

.bg-site-primary{
  background-color: var(--primary-color)
}

/* mobile header */

.top-nav{
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}
.navbar-expand-lg.top-nav .navbar-nav .nav-link{
	padding: 10px 15px;
	color: #323232;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	position: relative;
}
.navbar-expand-lg.top-nav .navbar-nav .nav-link i{
	font-size: 14px;
	float: right;
	margin-left: 5px;
}
.navbar-expand-lg.top-nav .navbar-nav .nav-link:hover{
	color: var(--primary-color);
	border-radius: 4.8px;
}
.navbar-expand-lg.top-nav .navbar-nav .nav-link.active{
	color: var(--primary-color);
}
.navbar-expand-lg.top-nav .navbar-nav .nav-link.active:before{
	content: "";
	position: absolute;
	width: 40px;
	background: var(--primary-color);
	height: 5px;
	top: 0px;
	left: 0px;
	border-radius: 6px;
}
.navbar-expand-lg.top-nav .navbar-nav .nav-link.active:after{
	content: "";
	position: absolute;
	width: 40px;
	background: var(--primary-color);
	height: 5px;
	bottom: 0px;
	right: 0px;
	border-radius: 6px;
}
.navbar-expand-lg.top-nav .navbar-nav .nav-link:before{
	content: "";
	position: absolute;
	width: 0px;
	background: var(--primary-color);
	height: 5px;
	top: 0px;
	left: 0px;
	border-radius: 6px;
	-webkit-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	transition: all 500ms ease;
}
.navbar-expand-lg.top-nav .navbar-nav .nav-link:after{
	content: "";
	position: absolute;
	width: 0px;
	background: var(--primary-color);
	height: 5px;
	bottom: 0px;
	right: 0px;
	border-radius: 6px;
	-webkit-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	transition: all 500ms ease;
}
.navbar-expand-lg.top-nav .navbar-nav .nav-link:hover:before{
	width: 40px;
	-webkit-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	transition: all 500ms ease;
}
.navbar-expand-lg.top-nav .navbar-nav .nav-link:hover:after{
	width: 40px;
	-webkit-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	transition: all 500ms ease;
}


.navbar-expand-lg.top-nav .navbar-nav .dropdown-menu{
	margin: 0px;
	box-shadow: 3px 5px 15px rgba(0,0,0, .15);
	border: none;
	padding: 20px;
}
.navbar-expand-lg.top-nav .navbar-nav .dropdown-menu .dropdown-item{
	font-size: 14px;
	padding: 0px;
	margin-bottom: 15px;
	font-weight: 300;
}
.navbar-expand-lg.top-nav .navbar-nav .dropdown-menu .dropdown-item:last-child{
	padding: 0px;
	margin: 0px;
}
.navbar-expand-lg.top-nav .navbar-nav .dropdown-menu .dropdown-item:hover{
	background: none;
	color: var(--primary-color);
}
.top-nav .navbar-toggler{
	color: var(--primary-color);
  border-color: none !important;
}
.top-nav .navbar-toggler:hover{
	color: var(--primary-color);
	border-color: none !important;
}

/*================================================== */
/* main menu - start
================================================== */
#longitudenavbarResponsive > ul > li {
  padding: 15px 0px;
}
#longitudenavbarResponsive > ul > li:not(:last-child) {
  margin-right: 30px;
}
#longitudenavbarResponsive > ul > li > a {
  color: var(--primary-color);
  display: block;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  font-family: "Rubik", sans-serif;
}
#longitudenavbarResponsive > ul > li:hover > a, #longitudenavbarResponsive > ul > li.active > a {
  color: var(--secondary-color);
}

#longitudenavbarResponsive .has_child {
  position: relative;
}
#longitudenavbarResponsive .has_child > a:after {
  font-size: 12px;
  font-weight: 500;
  content: "";
  margin-left: 5px;
  display: inline-block;
  font-family: "FontAwesome";
}
#longitudenavbarResponsive .has_child .submenu {
  top: 100%;
  left: 0px;
  opacity: 0;
  z-index: 99;
  margin: 0px;
  min-width: 220px;
  padding: 20px 0px;
  visibility: hidden;
  position: absolute;
  background: #ffffff;
  transform: translateY(15px);
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 2px 19px 3px rgba(0, 0, 0, 0.08);
}
#longitudenavbarResponsive .has_child .submenu li {
  display: block;
}
#longitudenavbarResponsive .has_child .submenu li:not(:last-child) {
  border-bottom: 1px solid #f5f6fa;
}
#longitudenavbarResponsive .has_child .submenu li a {
  width: 100%;
  display: block;
  line-height: 1;
  padding: 15px 30px;
  white-space: nowrap;
  color: #757575;
}
#longitudenavbarResponsive .has_child .submenu li:hover > a, #longitudenavbarResponsive .has_child .submenu li.active > a {
  color: #ff4328;
  background-color: #f5f6fa;
}
#longitudenavbarResponsive .has_child:hover > .submenu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}

#longitudenavbarResponsive .has_child .submenu .has_child {
  position: relative;
}
#longitudenavbarResponsive .has_child .submenu .has_child > a:after {
  float: right;
  font-size: 13px;
  content: "";
  transform: translateY(0px);
}
#longitudenavbarResponsive .has_child .submenu .submenu {
  top: -20px;
  left: 100%;
}

.main_menu li a {
  text-transform: uppercase !important;
}

#longitudenavbarResponsive li a {
  text-transform: uppercase !important;
}

.colored-line-divider{
  margin-top:-15px !important;
  height: 15px;
  background-color: var(--secondary-color);
  width:100%
}

.bg-dark {
  background-color: var(--black-color)!important;
}

.padding-0{
    padding-right:0;
    padding-left:0;
}


/* Improved Prducts */
.serviceBox{
    height: 600px;    
    overflow: hidden;
    position: relative;
}
.serviceImgHolder{
	width: 100%;
    height: 100%;
}
.Serviceimg-01{
    background: url(../images/products/ato_strearing.png);
    background-position: center;	
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s;
}
.Serviceimg-02{
    background: url(../images/products/auto_guidance.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s;
}
.Serviceimg-03{
    background: url(../images/products/base_station.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s;
}
.Serviceimg-04{
    background: url(../images/products/movable_planetarium.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s;
}
.Serviceimg-05{
    background: url(../images/products/planetarium.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s;
}
.Serviceimg-06{
    background: url(../images/products/star_gazing.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s;
}

.serviceBoxContents{
	color: #ffffff;
    text-shadow: 1px 1px 1px #000000;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
	z-index: 2;
    top: 30%;
	left: 20%;
    padding: 10px;
    text-decoration: none;
}

.serviceBox:before {
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 1;
	content: "";
	opacity: 0.85;
	position: absolute;
	background:  rgba(0,0,0,0.7);
  }

  .serviceBoxButton{
	  color: #ffffff;
	  border: 2px solid #ffffff;
	  padding:10px 28px;
	  border-radius: 0px;
  }

  .serviceBoxButton:hover{
	color: #000000;
	background-color: #ffffff;
}

.serviceTitle{
	font-size: 2rem;
	font-weight: 900;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: -2px;
	font-family: 'Montserrat', sans-serif;
}



/* FOOTER */
.topFooter{
	background-color: var(--footer-color);
}

.bottomFooter{
	background-color: var(--primary-color);
}

.topFooter h3, .topFooter p, .topFooter a{
	color: var(--footer-content-color) !important;
}

.copyright-part p{
	color: var(--white-color) !important;
}

.designer-part p{
	color:var(--secondary-color) !important;
	font-style: italic;
}
.designer-part a{
	color: var(--secondary-color) !important;
	font-style: italic;
}

/* FONT AWESOME */
.fa_24{
	font-size: 24px !important;
}


/* MOBILE PROPERTIES */
@media only screen and (max-width:768px){
	.serviceTitle{
		font-size: 30px;
	}
  .footerItemsMargin{
    margin-bottom: 10%!important;
  }
}

.footerItemsMargin ul li a{
  text-transform: capitalize !important;
}

.footerLogo img{
  margin-top: -25px;
  height: 80px;
  width: auto;
}

.headerLogo img{ 
  height: 80px;
  width: auto;
}

.mobileHeaderLogo img{
  height: 50px;
  width: auto;
}

.contactInfo a span{
  font-size: 18px;
  margin-left: 15px;
}

.color-primary {
  color: var(--primary-color) !important;
}

.bold{
  font-weight: bold !important;
}

/*--------------------------------------------------------------
# innerPages
--------------------------------------------------------------*/
.innerPages .content h3 {
  font-weight: 600;
  font-size: 26px;
}

.innerPages .content ul {
  list-style: none;
  padding: 0;
}

.innerPages .content ul li {
  display: flex;
  align-items: flex-start;
  margin-bottom: 35px;
}

.innerPages .content ul li:first-child {
  margin-top: 35px;
}

.innerPages .content ul i {
  background: #fff;
  box-shadow: 0px 6px 15px rgba(16, 110, 234, 0.12);
  font-size: 24px;
  padding: 20px;
  margin-right: 15px;
  color: var(--primary-color);
  border-radius: 50px;
}

.innerPages .content ul h5 {
  font-size: 18px;  
}

.innerPages .content ul p {
  font-size: 16px;
}

.innerPages .content p:last-child {
  margin-bottom: 0;
}

.innerTopMargin{
  margin-top: 5%;
}


/*--------------------------------------------------------------
# Inner Sections General
--------------------------------------------------------------*/

.innersection-title {
  text-align: center;
  padding-bottom: 30px;
}

.innersection-title h2 {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 700;
  padding: 8px 20px;
  margin: 0;
  background: #e7f1fd;
  color: var(--primary-color);
  display: inline-block;
  text-transform: uppercase;
  border-radius: 50px;
}

.innersection-title h3 {
  margin: 15px 0 0 0;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
}

.innersection-title h3 span {
  color: var(--primary-color);
}

.innersection-title p {
  margin: 15px auto 0 auto;
  font-weight: 600;
}

@media (min-width: 1024px) {
  .innersection-title p {
    width: 50%;
  }
}

.longitude-list {
  list-style: none;
  width: 350px;
  background: #f2f7fd;
  padding: 30px;
  border-radius: 4px;
}
.longitude-list li {
  padding: 10px 0 10px 0;
}
.longitude-list li:nth-child(odd) {
  text-align: left;
  border-left: 10px solid var(--primary-color);
  padding-left: 4px;
  border-bottom: 10px solid var(--secondary-color);
}
.longitude-list li:nth-child(even) {
  text-align: right;
  border-right: 10px solid var(--primary-color);
  padding-right: 4px;
  border-bottom: 10px solid var(--secondary-color);
}


